@import url('./global.css');

#course ul > li {
	@apply max-w-sm w-full paper;
	outline: 0px solid theme('colors.bright-red.40');
	transition-duration: 250ms;
}
#course ul > li:hover {
	outline-width: 5px;
	border-radius: 0px;
	transition-duration: 250ms;
}
#course ul > li .gatsby-image-wrapper {
	@apply shadow-lg rounded-lg object-cover w-full;
	max-width: 700px;
	max-height: 300px;
	min-width: 10em;
}
#course ul > li h2 {
	@apply m-4;
}
.courseImage {
	@apply mx-auto;
	max-width: 700px;
	max-height: 700px;
	width: 100%;
	height: 50vh;
}
.registerationLink {
	color: theme('colors.white');
	background-color: theme('colors.dark-red.100');
	padding: 10px 40px;
	width: 200px;
	border-radius: 10px;
	transition: all 0.3s ease-in-out;
}
.registerationLink span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.3s;
}
.registerationLink span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.registerationLink:hover span {
	padding-right: 25px;
}
.registerationLink:hover span:after {
	opacity: 1;
	right: 0;
}
